In [1]:
# If statement
x = 10
if x > 5:
    print("x is greater than 5")

# If-else statement
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

# If-elif-else statement
if x < 0:
    print("Negative")
elif x == 0:
    print("Zero")
else:
    print("Positive")

x is greater than 5
x is even
Positive

In [11]:
# For loop
for i in range(5):  # 0 to 4
    print(i)

# While loop
count = 0
while count < 5:
    print(count)
    count += 1

# Nested loop
for i in range(3):
    for j in range(2):
        print(f"({i}, {j})")

# Break, Continue, Pass
for num in range(10):
    if num == 5:
        break     
    if num % 2 == 0:
        continue   
    print(num)
else:
    print("Loop completed")

0
1
2
3
4
0
1
2
3
4
(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
1
3

In [13]:
# Input
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Output
print(f"Hello {name}, you are {age} years old.")
print("Next year you'll be", age + 1)

# Formatted output
print("Name: %s, Age: %d" % (name, age))
print("Name: {}, Age: {}".format(name, age))

Enter your name:  Rutrha
Enter your age:  23

Hello Rutrha, you are 23 years old.
Next year you'll be 24
Name: Rutrha, Age: 23
Name: Rutrha, Age: 23

In [15]:
# Introduction to Lists
fruits = ['apple', 'banana', 'cherry']
numbers = [1, 2, 3, 4, 5]

# List Methods
fruits.append('orange')        # Add item
fruits.insert(1, 'grape')      # Insert at position
fruits.remove('banana')        # Remove item
popped = fruits.pop()          # Remove and return last item
fruits.sort()                  # Sort list
numbers.reverse()              # Reverse list

# List Slicing
print(numbers[1:3])    # Items 1 to 2
print(numbers[:3])     # Items 0 to 2
print(numbers[2:])     # Items 2 to end
print(numbers[-1])     # Last item
print(numbers[::2])    # Every second item
print(numbers[::-1])   # Reversed list

[4, 3]
[5, 4, 3]
[3, 2, 1]
1
[5, 3, 1]
[1, 2, 3, 4, 5]

In [17]:
# Introduction to Dictionaries
person = {
    'name': 'Alice',
    'age': 25,
    'occupation': 'Engineer'
}

# Dictionary Methods
print(person.keys())      # All keys
print(person.values())   # All values
print(person.items())    # Key-value pairs
print(person.get('name', 'Unknown'))  # Get with default
person.update({'age': 26, 'city': 'New York'})  # Update multiple
removed = person.pop('occupation')    # Remove key

dict_keys(['name', 'age', 'occupation'])
dict_values(['Alice', 25, 'Engineer'])
dict_items([('name', 'Alice'), ('age', 25), ('occupation', 'Engineer')])
Alice

In [19]:
# Introduction to Sets
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# Set Methods
a.add(5)            # Add element
a.remove(1)         # Remove element (raises error if not found)
a.discard(10)       # Remove if exists (no error)
c = a.union(b)      # All elements from both sets
d = a.intersection(b)  # Common elements
e = a.difference(b) # Elements in a not in b
f = a.symmetric_difference(b)  # Elements in either but not both

In [21]:
# Map function
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))

# Filter function
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

# Zip function
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
combined = list(zip(names, ages))